body 
{
  margin: 0;
  padding : 0; 
}
.marker  /*kitten*/
{ 
  display: block; 
  border: none; 
  border-radius: 50%; 
  cursor: pointer; 
  padding: 0; 
}
#map 
{ position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}
/* Developer Information-Overlay Styles */
.map-overlay 
{ 
  font: 13px/19px 'Helvetica Neue', Arial, Helvetica, sans-serif; 
  position: absolute;
  width: 393px; 
  top: 0; 
  left: 0; 
  padding: 9px;
}
.map-overlay .map-overlay-inner 
{
  background-color: rgba(189, 194, 192, 0.698);
  box-shadow: 0 1px 2px rgba(12, 11, 11, 0.678);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 0px;
} 
.map-overlay-inner fieldset 
{
  border: none;
  padding: 0;
  margin: 0 0 10px;
}
.map-overlay-inner fieldset:last-child 
{
  margin: 0;
}
.map-overlay-inner select 
{
  width: 100%;
}
.map-overlay-inner p 
{
  margin: 0;
}
.map-overlay-inner label 
{
  display: block;
  font-weight: bold;
}
.map-overlay-inner button 
{
  background-color: rgba(200, 190, 175, 0.856) ;
  color: none;
  border-radius: 11px;
  display: table-header-group;
  height: 20px;
  border: none;
  cursor: pointer;
}
.map-overlay-inner button:focus 
{
  outline: none;
}
.map-overlay-inner button:hover 
{
 background-color: rgba(92, 92, 78, 0.705);
  box-shadow: inset 0 0 0 3px rgba(122, 118, 118, 0.1);
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.offset > label, .offset > input 
{
  display: inline;
}
#animateLabel 
{
  display: inline-block;
  min-width: 10px;
}